<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reactive Form</title>
</head>
<body>
 <form class="form-inline" action="/action_page.php">
  <h1>Reactive Form</h1>
  <mat-form-field class="form-group">
    <mat-label>Company name</mat-label>
    <input matInput type="string" placeholder="name of your company" class="form-control" required>
  </mat-form-field>&nbsp;

  <mat-form-field class="form-group">
    <mat-label>Country</mat-label>
    <input matInput type="string" placeholder="name of your country" class="form-control">
  </mat-form-field><br>

  <mat-form-field class="form-group">
    <mat-label>Street</mat-label>
    <input matInput placeholder="name of your street">
  </mat-form-field>&nbsp;

  <mat-form-field class="form-group">
    <mat-label>City</mat-label>
    <input matInput placeholder="name of your city">
  </mat-form-field>&nbsp;

  <mat-form-field class="form-group">
    <mat-label>Zip</mat-label>
    <input matInput type="number" placeholder="Zip code">
  </mat-form-field>
</form> 
</body>
</html>
